/**
 * Represents a book.
 * @author Linda ALibi #2681075
 * @filename main.js
 * @description Le taquin est un jeu solitaire en forme de damier. Il est composé de 15 petits carreaux numérotés de 1 à 15 qui glissent dans un cadre prévu pour 16. Il consiste à remettre dans l'ordre les 15 carreaux à partir d'une configuration initiale quelconque avec le moins de mouvement possibles .Un buttons « mélanger » mélange les carreaux jusqu’à l’utilisateur click « arrêter ». Avec la souris, on click sur les carreaux pour déplacer les numéros dans le bon ordre.
 *Le jeu affiche combien de clics a été effectué pour mettre les numéros en ordre.
 */
 
/*Style of the name of the game */
h1{
    margin: 0px 0px 50px 0px;
	text-align: center;
	color: navy;
}
/*Pieces style*/
.noEmpty {
	background-color: rgb(241, 117, 138);
	color: white;
	border-top: 6px #CCC solid;
	border-right: 6px #666 solid;
	border-bottom: 6px #333 solid;
	border-left: 6px #999 solid;
}
.empty {
	background-color: rgb(252, 174, 187);
	color: rgb(252, 174, 187);
	border-top: 6px #333 solid;
	border-right: 6px #999 solid;
	border-bottom: 6px #CCC solid;
	border-left: 6px #666 solid;
}
footer{
    margin-bottom:0px;
}
.piece {
	width: 80px;
	height: 80px;
	font-size: 1cm;
	font-weight: bold;
}
/*Pieces style*/

/*Melange button style*/
.melange {
	color: wheat;
	font-size: medium;
	background-color: gray;
	margin: 5px;
    padding: 5px;
    text-align: center;
}
/*Melange button style*/

/*style of the button*/
#controle {
	text-align: center;
	margin: 5px;
}
/*Style the text under the button */
#text{
	text-align: center;
}